.accordion {

  &__list {}

  &__item {
    border-bottom: 1px solid #d3d3d3;
  }

  &__control {
    display: flex;
    width: 100%;
    padding: 24px 0;
    align-items: center;
    list-style: none;
    justify-content: space-between;

    &::-webkit-details-marker {
      list-style: none;
    }
  }

  &__icon {
    transition: transform .4s ease-in-out;
  }

  &__title {
    font-weight: 500;
  }

  &__content {
    margin: 0;
    line-height: 150%;
    // margin-top: 20px;
    max-height: 0;
    // padding: 0 0 0 34px;
    opacity: 0;
    overflow: hidden;
    box-sizing: content-box;
    will-change: max-height;
    transition: max-height .3s ease-in-out, opacity .5s ease-in-out, padding .3s ease-in-out;
  }
}

.open .accordion {

  &__control {
    // border: none;
  }

  &__content {
    padding: 0 0 20px 0;
    opacity: 1;
  }

  &__icon {
    transform: rotate(45deg);
  }
}
