.header {
  &-container {
  }

  &__content {
    display: flex;
    align-items: center;
    padding: 28px 0;
    position: relative;
  }

  &__control {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 32px;
  }

  &__catalog {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 14px 30px;
    font-weight: 500;
    border-radius: 4px;
    margin-right: 27px;
    font-size: 14px;
    display: flex;
    align-items: center;

    &-icon {
      fill: var(--light-color);
      margin-left: 10px;
      width: 18px;
      height: 18px;
    }
  }

  &__info {
    display: flex;
    margin-left: auto;
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-right: 37px;
    font-weight: 500;
    font-size: 14px;
  }

  &__contacts-icon {
    margin-right: 8px;
  }

  &__contacts-small-icon {
    width: 20px;
    height: 20px;
  }

  &__basket {
    display: flex;
    align-items: center;
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    position: relative;

    &-number {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      background-color: red;
      top: -15px;
      left: 22px;
      border-radius: 100%;
      // padding: 2px 5px;
      font-size: 10px;
      color: var(--light-color);
    }
  }

  &__backet-icon {
    margin-left: 8px;
    margin-right: 10px;
  }
}
