.nav {

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    color: var(--black-color);
  }
}
